*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}
.top-bar {
    height: 83px;
    display: flex;
    justify-content: space-between;
    margin-left: 36px;
    margin-top: 16px;
}
.spring-logo {
    display: flex;
    margin: 10px;
}
.nav-menu {
    align-items: center;
    display: flex;
}
.nav-menu a {
    align-items: center;
    column-gap: 10px;
    text-decoration: none;
    color: #0B2330;
    font-size: 16px;
}
.nav-menu-item a {
    font-size: 16px;
    line-height: 24px;
    color: #0B2330;
}
.item{
    display: flex;
    column-gap: 56px;
    margin-right: 190px;
}
.btn1 {
    height: 54px;
    width: 163px;
    background: #0B2330;
    border: 1px solid #0B2330;
    box-sizing: border-box;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    margin-right: 32px;
}
.btn2{
    display: flex;
    align-items: center;
    column-gap: 24px;
}
.head-wrap-content{
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
    margin-left: 147px;
}
.head-title{
    font-style: normal;
    font-weight: normal;
    height: 256px;
    width: 436px;
    font-size: 60px;
    line-height: 64px;
    color: #0B2330;
}
.text{
    font-style: normal;
    font-weight: normal;
    width: 435px;
    height: 96px;
    font-size: 22px;
    line-height: 32px;
    color: #375361;
}
.head-image{
    margin-top: -100px;
    width: 600px;
    height: 866px;
}
.vid{
    margin-top:  -765px;
    margin-left: -148px;
    position: absolute;
}
.butt1{
    height: 54px;
    width: 163px;
    background: #F9C600;
    border: 1px solid #F9C600;
    box-sizing: border-box;
    border-radius: 4px;
    color: #0B2330;
    cursor: pointer;
    margin-right: 32px;
}
.butt2{
    height: 54px;
    width: 163px;
    border: 1px solid #0B2330;
    box-sizing: border-box;
    border-radius: 4px;
    color: #0B2330;
    cursor: pointer;
    margin-right: 32px;
}
.buttons{
    margin-top: 38px;
}
.vec{
    margin-top: -135px;
}
.vector1{
    justify-content: center;
    align-items: center;
    display: flex;
}
.vector2{
    justify-content: center;
    align-items: center;
    display: flex;
}
.vector3{
    justify-content: center;
    align-items: center;
    display: flex;
}
.vector4{
    justify-content: center;
    align-items: center;
    display: flex;
}
.step{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 192px;
}
.text2{
    width: 547px;
    height: 96px;
    text-align: center;
    color: #0B2330;
    margin-top: 189px;
    margin-bottom: 59px;
}
.bgs{
    width: 1376px;
    height: 494px;
    background: #51CEBC;
    border-radius: 10px;
    margin-left: 32px;
    display: flex;
}
.velos{
margin-top: 56px;
}
.veltex{
    height: 120px;
    width: 557px;
    right: 0.89%;
    top: -1px;
    font-size: 34px;
    line-height: 40px;
    color: #0B2330;
    margin-top: 114px;
}
.unveltex{
    height: 64px;
    width: 533px;
    right: 5.16%;
    top: 2px;
    font-size: 22px;
    line-height: 32px;
    color: #0B2330;
    margin-top: 35px;
}
.odos{
    margin-top: 191px;
}
.txtt{
    width: 711px;
    height: 80px;
    font-size: 34px;
    line-height: 40px;
    color: #0B2330;
    justify-content: center;
    margin-left: 365px;
}
.odf{
    height: 528px;
    margin-left: 265px;
    margin-top: 57px;
}
.butt11{
    height: 54px;
    width: 163px;
    background: #F9C600;
    border: 1px solid #F9C600;
    box-sizing: border-box;
    border-radius: 4px;
    color: #0B2330;
    cursor: pointer;
    margin-top: 113px;
    margin-left: 638px;
    margin-bottom: 160px;
}
