<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="main.css">
</head>
<body>
<header class="header wrapper">
    <div class="top-bar ">
        <div>
            <div class="spring-logo"><img src="img/spring.png" alt="logo"></div>
            <div class="spring-logo"><img src="img/fUL.png" alt="logo"></div>
        </div>
        <nav class="nav-menu ">
            <div class="item">
                <div class="nav-menu-item"><a href="#"> Why spring? </a></div>
                <div class="nav-menu-item"><a href="#"> Product </a></div>
                <div class="nav-menu-item"><a href="#"> Customers </a></div>
                <div class="nav-menu-item"><a href="#"> Resources </a></div>
                <div class="nav-menu-item"><a href="#"> Plans </a></div>
            </div>
            <div class="btn2">
                <div class="nav-menu-item"><a href="#"> Sing in </a></div>
                <div class="nav-menu-item"><a href="#"> Talk to Sales </a></div>
                <button class="btn1 sfr">Start for Free</button>
            </div>
        </nav>
    </div>


    <div class="head-wrap-content">
        <div class="head-content">
            <h1 class="head-title">In-context user research that's fast and reliable.</h1>
            <p class="text">Ensure user research happens early and often with
                Sprig's targeted microsurveys, video questions, and more.</p>
            <div class="buttons">
                <button class="butt1">Start for Free</button>
                <button class="butt2">Talk to Sales</button>
            </div>
        </div>
        <div class="head-image">
            <div class="back"><img src="img/backyell.png" alt="backg"></div>

            <div class="vid"><img src="img/vid.png" alt="video"></div>
            <div class="vec">
                <div class="vector1"><img src="img/vec1.png" alt="vec1"></div>
                <div class="vector2"><img src="img/vec2.png" alt="vec1"></div>
                <div class="vector3"><img src="img/vec3.png" alt="vec1"></div>
                <div class="vector4"><img src="img/vec4.png" alt="vec1"></div>
            </div>
        </div>
    </div>


    <div class="step">
        <div class="text2"><h1>Trusted by the world's most innovative companies</h1></div>
        <div class="marc"><img src="img/marc.png" alt="macrs"></div>
    </div>

    <div class="bgs">
        <div class="velos"><img src="img/velo.png" alt="veloz"></div>
        <div>
            <h1 class="veltex">Modern product teams move fast, but learning from customers
                takes a ton of time, effort, and energy.</h1>
            <p class="unveltex">So teams often rush user research or skip it altogether,
                causing products and features to miss the mark.</p>
        </div>
    </div>

    <div class="odos">
        <h1 class="txtt">Sprig makes it possible to obtain qualitative
            insights at the speed and scale of analytics</h1>
        <div class="odf"><img src="img/odof.png" alt="oodof"></div>
        <button class="butt11">Start for Free</button>
    </div>

    <div class="targets">
        <div class="pbg"></div>
        <div class="wfwy"><img src="img/wfwy.png" alt="wfwyy"></div>
    </div>

</header>
</body>
</html>